---
import { Image } from "astro:assets";

import Card from "../components/ui/Card.astro";
import Feature from "../components/ui/Feature.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ReviewList from "../components/ReviewList.astro";

import demoImage from "/public/demo.png";
import headerImage from "/public/header.png";

import eyeSvg from "/public/eye.svg?raw";
import boltSvg from "/public/bolt.svg?raw";
import bookSvg from "/public/book.svg?raw";
import paletteSvg from "/public/palette.svg?raw";
import packageImage from "/public/package.svg?raw";
import featuresImage from "/public/features.svg?raw";

const features = [
  {
    icon: eyeSvg,
    title: "Eye comfort",
    description:
      "Protect your eyes with soft, balanced colors, perfect for long work sessions",
    color: "#d1fae5",
  },
  {
    icon: boltSvg,
    title: "Faster understanding",
    description:
      "Enhance reading speed and comprehension by associating colors with key code elements",
    color: "#cffafe",
  },
  {
    icon: bookSvg,
    title: "Better readability",
    description:
      "Enjoy clear, easy-to-read code with optimized fonts and proper contrast",
    color: "#dbeafe",
  },
  {
    icon: paletteSvg,
    title: "Consistent palette",
    description:
      "Maintain visual uniformity across languages with a carefully selected color palette",
    color: "#ede9fe",
  },
];

const stuffIncluded = [
  {
    title: "Package Functionality",
    description:
      "Effortlessly generate customizable VSCode themes using this package",
    icon: packageImage,
    tags: ["Easy to use", "Customizable", "Powerful"],
  },
  {
    title: "Key Features",
    description:
      "Enjoy features like auto-update and color palette suggestions",
    icon: featuresImage,
    tags: ["Auto-update", "Palette suggestions", "Color picker"],
  },
];

const reviews = [
  {
    name: "Hellena John",
    review:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis animi cum a consequuntur officiis! Vitae exercitationem nobis, perferendis cum recusandae eaque provident quidem nemo animi ipsam officiis qui reiciendis assumenda.",
    role: "Software Engineer",
    image: "https://picsum.photos/id/237/200/300",
  },
  {
    name: "Hellen Jummy",
    review:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.",
    role: "Frontend Developer",
    image: "https://picsum.photos/id/237/200/300",
  },
  {
    name: "Alice Doe",
    review:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.",
    role: "Backend Developer",
    image: "https://picsum.photos/id/237/200/300",
  },
  {
    name: "Ralph Edwards",
    review:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.",
    role: "Fullstack Developer",
    image: "https://picsum.photos/id/237/200/300",
  },
];

const headerInfo = {
  title: "Create Stunning VSCode themes",
  highlight: "with ease",
  description:
    "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis animi cum a consequuntur officiis! Vitae exercitationem nobis, perferendis cum recusandae eaque provident quidem nemo animi ipsam officiis qui reiciendis assumenda.",
};
---

<Layout title="VS Theme Builder">
  <Header {...headerInfo}>
    <picture slot="extra" class="w-full">
      <Image
        src={headerImage}
        class="mx-auto max-w-xl w-full"
        alt="Theme visualization"
        loading={"eager"}
      />
    </picture>
  </Header>
  <main class="p-4 max-w-[1200px] mx-auto">
    <!-- Features section -->
    <section class="mb-16">
      <header class="max-w-5xl">
        <h2 class="text-left">What's Included</h2>
        <p class="mb-6">
          Discover the powerful features of the npm package designed to enhance
          your VS Code theming experience. This package streamlines the creation
          process, providing essential tools and functionalities to help you
          build and customize your themes with ease.
        </p>
      </header>
      <div class="flex flex-wrap justify-around gap-6">
        {stuffIncluded.map((stuff) => <Card {...stuff} />)}
      </div>
    </section>
    <!-- Showcase section -->
    <section class="mb-10">
      <h2>Nachop Theme Showcase</h2>
      <p class="text-center mb-8">
        Lorem Neque magni quis voluptates molestiae enim ipsum dolor sit amet
        consectetur adipisicing elit. Quasi, sit consequatur. Neque magni quis
        voluptates molestiae enim.
      </p>
      <Image
        src={demoImage}
        alt="Nachop Theme Showcase"
        class="max-w-3xl w-full mx-auto mb-6"
        loading={"eager"}
      />
      <div
        class="grid grid-cols-2 md:grid-cols-4 justify-items-center gap-6 sm:gap-12 sm:px-6"
      >
        {features.map((feature) => <Feature {...feature} />)}
      </div>
    </section>
    <!-- User opinions -->
    <section class="mb-6">
      <ReviewList reviews={reviews} />
    </section>
  </main>
</Layout>

<style lang="postcss">

</style>
