---
import { Image } from "astro:assets";

import Card from "../components/ui/Card.astro";
import Feature from "../components/ui/Feature.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ReviewList from "../components/ReviewList.astro";

import demoImage from "/public/demo.png";
import headerImage from "/public/header.webp";

import CheckIcon from "../components/icons/CheckIcon.astro";

const headerInfo = {
  title: "Create Stunning VSCode themes",
  highlight: "with ease",
  description:
    "VS Theme Builder is a powerful npm package that simplifies the process of creating and customizing themes for Visual Studio Code. Meet the magic behind Nachop Theme, a package designed to enhance your theming experience!",
};

const features = [
  {
    icon: "eye",
    title: "Eye comfort",
    description:
      "Reduce eye strain and improve focus with a theme designed for optimal readability",
    color: "#d1fae5",
  },
  {
    icon: "bolt",
    title: "Faster scanning",
    description:
      "Quickly identify elements in your code with a carefully selected color palette",
    color: "#cffafe",
  },
  {
    icon: "book",
    title: "Better readability",
    description:
      "Enjoy clear, easy-to-read code with optimized colors for proper contrast",
    color: "#dbeafe",
  },
  {
    icon: "palette",
    title: "Consistent palette",
    description:
      "Maintain visual uniformity across languages with a harmonious color scheme",
    color: "#ede9fe",
  },
];

const stuffIncluded = [
  {
    title: "Package Functionality",
    description:
      "Effortlessly generate customizable VSCode themes using this package",
    icon: "package",
    tags: ["Easy to use", "Customizable", "Powerful"],
  },
  {
    title: "Key Features",
    description:
      "Enjoy features like auto-update and color palette suggestions",
    icon: "features",
    tags: ["Auto-update", "Palette suggestions", "Color picker"],
  },
];

const videoItems = [
  "Simplify theme creation with only 25 custom colors.",
  "Manipulate the colors of your theme with ease.",
  "Instantly generate a ready-to-use JSON file.",
];

const reviews = [
  {
    name: "Denisse Landau",
    review:
      "Nacho's theme was a one way ticket! Not only did it  accelerate my personal and professional work, but also made me migrate fully to VS Code! Granted with an extra cherry on top that's open source and curated for top development performance!",
    role: "DevOps Engineer @ UKG | Leader & Founder @ AWS Girls UG UY | Partner Writer @ Medium",
    image: "/people/denisse-landau.webp",
    links: [
      {
        href: "https://www.linkedin.com/in/denisselandau/",
        text: "DevOps Engineer @ UKG",
        icon: "linkedin",
      },
      {
        href: "https://medium.com/@denisselandau97",
        text: "Partner Writer @ Medium",
        icon: "medium",
      },
      {
        href: "https://www.linkedin.com/company/aws-girls-user-group-uy",
        text: "Leader & Founder @ AWS Girls UG UY",
        icon: "linkedin",
      },
      {
        href: "https://medium.com/@denisselandau97/list/how-to-improve-your-english-daily-72476cc2f004",
        text: "Leader & Founder @ HTIYED",
        icon: "medium",
      },
    ],
  },
  {
    name: "Luz Saavedra",
    review:
      "I tried the Nachop theme first and loved it! It made coding feel super comfortable, and I liked the color balance. After using it for a while, I wanted to customize it even more to fit my own style, so I tried the npm package, the process of creating my own theme was smooth. Really perfect for anyone who wants to personalize their workspace.",
    role: "Frontend Developer | UI/UX Designer & Researcher",
    image: "/people/luz-saavedra.webp",
    links: [
      {
        href: "https://www.linkedin.com/in/ludasaadi//",
        text: "LinkedIn",
        icon: "linkedin",
      },
      {
        href: "https://github.com/vandriodd",
        text: "GitHub",
        icon: "github",
      },
      {
        href: "https://luz-saavedra-portfolio-vandriodds-projects.vercel.app/",
        text: "Portfolio",
        icon: "website",
      },
    ],
  },
  {
    name: "Facundo Sánchez",
    review:
      "Using vs-theme-builder I have the possibility to make my favorite code editor and my computer theme match. In a matter of minutes and by choosing few colors I can generate a theme that suits my tastes and needs.",
    role: "Fullstack Developer @ Dixtra",
    image: "/people/facundo-sanchez.webp",
    links: [
      {
        href: "https://www.linkedin.com/in/facundos%C3%A1nchez/",
        text: "LinkedIn",
        icon: "linkedin",
      },
      {
        href: "https://github.com/Facusan2016",
        text: "GitHub",
        icon: "github",
      },
      {
        href: "https://facundosanchezv2.netlify.app/",
        text: "Portfolio",
        icon: "website",
      },
    ],
  },
  {
    name: "Micaela Viera",
    review:
      "I really liked it! I really enjoy the color selection chosen for this theme. It is much easier to associate elements in the code, making it easier for me to learn. Highly recommended for learning how to write more organized and coherent code.",
    role: "Frontend Developer | Cybersecurity",
    image: "/people/micaela-viera.webp",
    links: [
      {
        href: "https://www.linkedin.com/in/micaela-viera-9716772b3/",
        text: "LinkedIn",
        icon: "linkedin",
      },
      {
        href: "https://github.com/MicaViera",
        text: "GitHub",
        icon: "github",
      },
    ],
  },
];
---

<Layout title="VS Theme Builder">
  <Header {...headerInfo}>
    <picture slot="extra" class="w-full">
      <Image
        src={headerImage}
        width={1391}
        height={769}
        class="mx-auto max-w-3xl w-full h-auto object-cover rounded-xl"
        alt="Theme visualization"
        loading={"eager"}
      />
    </picture>
  </Header>
  <main class="p-4 sm:p-12 max-w-[1000px] mx-auto">
    <!-- Features section -->
    <section class="mb-16">
      <header class="max-w-5xl">
        <h2 class="text-left">What's Included</h2>
        <p class="mb-6">
          Discover the powerful features of the npm package designed to enhance
          your VS Code theming experience. This package streamlines the creation
          process, providing essential tools and functionalities to help you
          build and customize your themes with ease.
        </p>
      </header>
      <div class="flex flex-wrap justify-around gap-6">
        {stuffIncluded.map((stuff) => <Card {...stuff} />)}
      </div>
    </section>
    <!-- Showcase section -->
    <section class="mb-10">
      <h2>Nachop Theme Showcase</h2>
      <p class="text-center mb-6">
        Dark theme, with a purple touch in every detail, make your VSCode look
        stunning!
        <br />
        <span class="font-semibold highlight">
          Nachop Theme + Symbols + Fluent Icons
        </span>
      </p>
      <Image
        src={demoImage}
        alt="Nachop Theme Showcase"
        class="max-w-3xl w-full mx-auto mb-8 rounded-xl"
      />
      <div
        class="grid grid-cols-2 md:grid-cols-4 justify-items-center gap-6 sm:gap-12 sm:px-6"
      >
        {features.map((feature) => <Feature {...feature} />)}
      </div>
    </section>
    <section class="video-section">
      <header>
        <h2 class="text-center sm:text-left">Build and Customize your theme</h2>
        <ul>
          {
            videoItems.map((item) => (
              <li class="flex items-center gap-1">
                <span class="w-6 h-6">
                  <CheckIcon />
                </span>
                {item}
              </li>
            ))
          }
        </ul>
        <a
          class="link block mt-4 font-medium"
          href="https://npmjs.com/vs-theme-builder"
          target="_blank"
          rel="noopener noreferer"
        >
          Go now to npm package to try it out &rarr;
        </a>
      </header>
      <div class="relative w-full">
        <div class="video-bg"></div>
        <div class="aspect-[4/3] py-12">
          <iframe
            class="w-full h-full rounded-2xl"
            src="https://www.youtube.com/embed/7e90gBu4pas"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            loading="lazy"
            allowfullscreen></iframe>
        </div>
      </div>
    </section>
    <!-- User opinions -->
    <section class="mb-6">
      <ReviewList reviews={reviews} />
    </section>
  </main>
  <Footer />
</Layout>

<style lang="postcss">
  .video-section {
    @apply flex flex-col md:flex-row items-center gap-6 mb-8;
  }

  .video-section header {
    @apply md:flex-[2];
  }

  .video-section > div {
    @apply md:flex-[3];
  }

  .video-section ul {
    @apply [&>li]:mb-1.5;
  }

  .video-bg {
    @apply left-1/2 -translate-x-1/2 aspect-square absolute h-full -z-10 bg-[#7928ca]/40 rounded-full;
  }
</style>
