---
import Layout from '../layouts/Layout.astro';
---

<Layout title="VS Theme Builder">
	<main>
		<h1>
			Create Stunning VSCode themes
			<span class="text-gradient">with ease</span>
		</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.text-gradient {
		background-image: linear-gradient(to right, var(--primary), var(--accent));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
