---
interface Props {
  icon: string;
  title: string;
  description: string;
  color: string;
}

const { icon, title, description, color } = Astro.props;
---

<div>
  <figure style=`background-color: ${color};`>
    <Fragment set:html={icon} />
  </figure>
  <h3>{title}</h3>
  <p>{description}</p>
</div>

<style lang="postcss">
  div {
    @apply text-center flex flex-col gap-2 items-center max-w-[180px];
  }

  figure {
    @apply w-16 h-16 sm:w-24 sm:h-24 p-4 rounded-full flex items-center justify-center;
  }

  h3 {
    @apply text-lg font-bold;
  }

  p {
    @apply text-sm;
  }
</style>
