---

---

<nav
  class="flex justify-between p-4 items-center fixed top-0 w-full bg-transparent z-50"
>
  <div>
    <a href="/" class="text-2xl font-extrabold text-[var(--primary)]">Nachop</a>
  </div>
  <ul>
    <li>
      <a href="/home">Home</a>
    </li>
    <li>
      <a href="/npm">npm package</a>
    </li>
    <li>
      <a href="/theme">Nachop Theme</a>
    </li>
    <li>
      <a href="/docs">Documentation</a>
    </li>
  </ul>
</nav>

<style>
  ul {
    display: flex;
    gap: 1rem;
  }

  li {
    list-style: none;
  }

  li a {
    color: white;
    text-decoration: none;
  }
</style>
