---
import Logo from "./Logo.astro";
---

<nav
  class="px-4 sm:px-12 py-4 fixed top-0 w-full z-50 bg-[#071c3433] backdrop-blur-sm text-[var(--text)]"
>
  <div
    class="max-w-[968px] sm:max-w-[904px] mx-auto flex justify-between items-center"
  >
    <div>
      <a
        href="/"
        class="text-2xl font-extrabold text-[var(--primary)]"
        title="Link to Home page"
      >
        <Logo width={27} height={33} />
      </a>
    </div>
    <ul class="flex [&>li>a]:no-underline">
      <li>
        <a
          href="https://npmjs.com/vs-theme-builder"
          target="_blank"
          rel="noopener noreferer">npm package</a
        >
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=nachop51.nachop-theme&ssr=false#overview"
          target="_blank"
          rel="noopener noreferer">nachop theme</a
        >
      </li>
      <li>
        <a href="/docs">docs</a>
      </li>
    </ul>
  </div>
</nav>

<style>
  ul li a {
    @apply px-2 rounded-md text-white list-none;
  }

  ul li a:hover {
    @apply text-[var(--accent)] bg-gray-600/30 transition-all;
  }
</style>
