---
interface Props {
  width?: number;
  height?: number;
}

const { width = 27, height = 33 } = Astro.props;
---

<svg
  width={width}
  height={height}
  role="img"
  viewBox="0 0 27 33"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Nachop Theme Logo</title>
  <path
    d="M13.5 0L0 8.53268V24.4673L13.5 33L27 24.4673V8.53268L13.5 0ZM24.1074 9.08987L13.5 15.7943L2.89259 9.08987L13.5 2.38539L24.1074 9.08987ZM2.01102 10.9181L12.4945 17.5442V29.9791L2.01102 23.353V10.9181ZM14.5055 29.9792V17.5442L24.989 10.9181V23.3531L14.5055 29.9792Z"
    fill="#ECEAF2"></path>
</svg>
