---
import Icon from "../Icon.astro";

interface Props {
  title: string;
  description: string;
  icon: string;
  tags: string[];
}

const { title, description, icon, tags } = Astro.props;
---

<div class="container">
  <figure>
    <Icon icon={icon} />
  </figure>
  <div class="content">
    <h3>{title}</h3>
    <p>{description}</p>
    <ul>
      {tags.map((tag) => <li>{tag}</li>)}
    </ul>
  </div>
</div>

<style lang="postcss">
  .container {
    @apply flex flex-row gap-2 items-center bg-white shadow-lg rounded-md p-4 flex-1 min-w-[300px];
  }

  figure {
    @apply w-24 h-24 p-4 grid place-items-center;
  }

  .content {
  }

  h3 {
    @apply text-lg font-bold;
  }

  p {
    @apply text-sm mb-2;
  }

  ul {
    @apply flex flex-wrap gap-2;
  }

  li {
    @apply text-xs bg-gray-200 text-gray-800 px-2 py-1 rounded-full whitespace-nowrap;
  }
</style>
