---
import Logo from "../Logo.astro";
---

<div class="deco"></div>
<footer>
  <div class="top">
    <h3>
      Why wait? Create your VS Code theme <span class="highlight">today!</span>
    </h3>
    <p>
      Customize your editor with the theme builder or try out a ready-made
      theme. Quick and easy!
    </p>
    <div class="buttons">
      <a
        href="https://npmjs.com/vs-theme-builder"
        target="_blank"
        rel="noopener noreferrer"
        title="Try vs-theme-builder"
      >
        Try vs-theme-builder
      </a>
      <a
        href="https://marketplace.visualstudio.com/items?itemName=nachop51.nachop-theme&ssr=false#overview"
        target="_blank"
        rel="noopener noreferrer"
        title="Install Nachop Theme"
      >
        Install Nachop Theme
      </a>
    </div>
  </div>
  <div class="down">
    <div class="logo">
      <Logo />
      <small> 2024 Ignacio Peralta </small>
    </div>
    <ul class="links">
      <li>Docs</li>
      <li>Github</li>
      <li>VS-Theme-Builder</li>
      <li>Nachop Theme</li>
    </ul>
  </div>
</footer>

<style>
  .deco {
    @apply h-20 lg:h-32 -m-0.5 bg-cover;
    height: clamp(5rem, 10vw, 8rem);
    background: url("data:image/svg+xml;base64,PHN2ZyBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB2aWV3Qm94PSIwIDAgMTQ0MCA1NTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xNDQwIDU1Ny4wODRMLTQuMDczNDNlLTA2IDU1Ny4wODRMLTUuMjc3NTJlLTA1IDAuMDAwMTI1ODg5VjAuMDAwMTI1ODg5QzI0NC41ODEgNjczLjMxMyAxMTk5LjMgNjc0LjcwOSAxNDQwIDBWMEwxNDQwIDU1Ny4wODRaIiBmaWxsPSIjMDcxQzM0Ii8+Cjwvc3ZnPgo=");
  }

  footer {
    @apply text-white pt-16;
    background-color: #071c34;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQyMSIgaGVpZ2h0PSIxMjgwIiB2aWV3Qm94PSIwIDAgMTQyMSAxMjgwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8ZyBmaWx0ZXI9InVybCgjZmlsdGVyMF9mXzEwMDZfMTg0NikiPgo8cGF0aCBkPSJNNTAwIDY2OC42NDlDNTAwIDU3NS41MDcgNTk0LjI0NCA1MDAgNzEwLjUgNTAwQzgyNi43NTYgNTAwIDkyMSA1NzUuNTA3IDkyMSA2NjguNjQ5QzkyMSA3NjEuNzkyIDgyNi43NTYgNzgwIDcxMC41IDc4MEM1OTQuMjQ0IDc4MCA1MDAgNzYxLjc5MiA1MDAgNjY4LjY0OVoiIGZpbGw9IiM3RDJBRTgiLz4KPC9nPgo8ZGVmcz4KPGZpbHRlciBpZD0iZmlsdGVyMF9mXzEwMDZfMTg0NiIgeD0iMCIgeT0iMCIgd2lkdGg9IjE0MjEiIGhlaWdodD0iMTI4MCIgZmlsdGVyVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBjb2xvci1pbnRlcnBvbGF0aW9uLWZpbHRlcnM9InNSR0IiPgo8ZmVGbG9vZCBmbG9vZC1vcGFjaXR5PSIwIiByZXN1bHQ9IkJhY2tncm91bmRJbWFnZUZpeCIvPgo8ZmVCbGVuZCBtb2RlPSJub3JtYWwiIGluPSJTb3VyY2VHcmFwaGljIiBpbjI9IkJhY2tncm91bmRJbWFnZUZpeCIgcmVzdWx0PSJzaGFwZSIvPgo8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIyNTAiIHJlc3VsdD0iZWZmZWN0MV9mb3JlZ3JvdW5kQmx1cl8xMDA2XzE4NDYiLz4KPC9maWx0ZXI+CjwvZGVmcz4KPC9zdmc+Cg=="),
      #071c34;
    background-size: 100% 100%;
    background-repeat: no-repeat, no-repeat;
  }

  footer .top {
    @apply max-w-[1000px] mx-auto px-4 sm:px-12;
  }

  .top h3 {
    @apply text-4xl sm:text-5xl font-extrabold mb-4;
  }

  .top p {
    @apply text-xl font-light mb-5;
  }

  .top .buttons {
    @apply mb-24 flex gap-4 flex-wrap;
  }

  .top .buttons a {
    @apply px-8 py-3.5 text-sm sm:text-lg font-semibold text-white bg-[var(--primary)] rounded-lg border-2 border-[var(--primary)];
  }

  .top .buttons a:first-child {
    @apply bg-transparent border-white;
  }

  .down {
    @apply flex flex-col-reverse items-center gap-6 md:flex-row md:justify-between max-w-[1000px] mx-4 sm:mx-12;

    @apply text-zinc-300 py-4 border-t border-gray-500/10;
  }

  .logo {
    @apply flex items-center;
  }

  .logo small {
    @apply ml-4 text-base;
  }

  .links {
    @apply w-full justify-evenly grid grid-cols-2 text-center sm:flex sm:w-auto gap-4 text-base;
  }
</style>
